<% @user_favorites.each do |f| %>
	<div class="container-fluid row bigtext">
		<div class="col-md-10"><%= link_to f.recipe.name, recipe_path(f.recipe), class: "list-group-item" %></div>
		<div class="col-md-2 center"><%= link_to "Remove", f, method: :delete, class: "list-group-item list-group-item-danger" %></div>
	</div>
<% end %>
